body {
    margin: 0; /* убрал внешние отступы до границ экрана */
    border: 1px solid;
}
.container {
    width: 1920px; /* ширина страницы */
    height: 2945px; /* высота страницы */
    margin: 0 auto; /* блок container располагается по центру экрана */
    border: 1px solid;
}
header {
    border: 1px solid;
    height: 119px; /* высота блока header */
    margin: 21px 0; /* сместил header на 21 пиксель от верхней границы container */
    display: flex;  /* чтобы можно было сместить потомков header (поместить по центру) */
    /* align-items: center; logo и top-menu расположены на одном уровне */
}
.logo {
    margin: 0 auto; /* logo размещено по центру экрана */
    border: 1px solid;
    width: 159px; /* ширина блока */
    height: 26px; /* высота блока */
}   
.top-menu {
    margin: 0 auto; /* top-menu размещенно по центру строки экрана */
    display: flex;/*  чтобы можно было сместить потомков top-menu (в одну строку) */
    border: 1px solid;
    width: 945px; /* ширина блока */
    height: 19px; /* высота блока */
    font-family: Montserrat;  /* вид шрифта */
    font-size: 14px; /* размер шрифта */
    display: flex;  /* чтобы можно было сместить потомков top-menu */
    justify-content: space-between; /* тип клиента и адресса по разным сторонам */
}
.type-client {
    border: 1px solid;
    display: flex; /* чтобы текст расположился в одну строку */
    list-style-type: none; /* убрал маркеры списков */
}



/* .top-menu-text { */
    
    
    
/* } */
/* .type-client-adress{ */
   
   
   /* justify-content: space-around; */
 /* } */